# Default ignored files
/../../File-Password-Applier /.idea/shelf/
/../../File-Password-Applier /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../File-Password-Applier /.idea/httpRequests/
# Datasource local storage ignored files
/../../File-Password-Applier /.idea/dataSources/
/../../File-Password-Applier /.idea/dataSources.local.xml
